<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
    
  <div class="row">
    
    <div class="col-md-8">
        <form [formGroup] = "this.serieService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="form-group">
              <label>Title</label>
              <input formControlName="title" class="form-control" [ngClass] = "{'is-invalid':submitted && formControls.title.errors}">
              <div class="invalid-feedback" *ngIf = "submitted && formControls.title.errors">This field is required!</div>
            </div>

            <div class="form-group">
              <label>Description</label>
              <input formControlName="description" class="form-control">
            </div>  
                   
            <div class="form-group">
                <label>Year</label>
                <input formControlName="year" type="number" class="form-control">
              </div>
          
          
                <div class="form-group">
                    <label>Image Url</label>
                    <input formControlName="imgUrl" class="form-control">
                  </div>
          
                  <button class="btn btn-success">Submit</button>
                  <button routerLink="/admin/series" class="btn btn-info" (click)="onBack()">Back to List</button>

          </form>
          <div class="alert alert-success" *ngIf="showSuccessMessage">Submitted successfully.</div>

    </div>


    <div class="col-md-4">
        
      <div class="card" style="margin:50px 0">
        <!-- Default panel contents -->
        <div class="card-header">Genre</div>
              
          <ul class="list-group list-group-flush">               
                      
            <li class="list-group-item" *ngFor="let genre of genres">
                          {{unGenre}}
                <label class="switch ">
                    <input type="checkbox" class="info">
                    <span class="slider round"></span>
                </label>
            </li>
          </ul>
      </div> 

    </div>
</div>